/* ======= Footer ======= */
.footer {
    background: #253340;
    color: #fff;
    padding-top: 40px;
    font-size: 14px;
    position: relative;
    z-index: 20;
    /*  width: 118%;/*added 115-120.....width: 118%*/
    /* margin-left: -9%;/*added -7.....margin-left: -9%*/
    /*  padding-left: 10px;/*added*/
}
.footer p {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.footer .btn-cta,
.footer a.btn-cta {
    padding: 9px 10px;
}
.footer .footer-col.links .fa {
    margin-right: 5px;
}
.footer .footer-col.links li {
    margin-bottom: 10px;
}
.footer .footer-col.connect .social {
    margin-bottom: 15px;
    overflow: hidden;
}
.footer .footer-col.connect .social li {
    margin-right: 10px;
}
.footer .footer-col.connect .social li a .fa {
    color: #b3b3b3;
    font-size: 22px;
}
.footer .footer-col.connect .social li a:hover .fa {
    color: #ec6952;
}
.footer .footer-col.connect .btn-cta-primary {
    background: #5d80a1;
    border-color: #5d80a1;
}
.footer .footer-col.connect .btn-cta-primary:hover {
    background: #4a6781;
    border-color: #4a6781;
}
.footer .footer-col .title {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
}
.footer .footer-col p {
    color: #fff;
}
.footer .footer-col a {
    color: #6d8dab;
}
.footer .footer-col a:hover {
    color: #8da6bd;
}
.footer .footer-col .navbar-form {
    padding-left: 0;
    padding-right: 0;
}
.footer .footer-col .navbar-form .form-control {
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
}
.footer .footer-col .navbar-form .form-control:focus {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.footer .has-divider {
    border-top: 1px solid #2b3b4a;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer .download .download-list li {
    margin-bottom: 15px;
}
.footer .download .download-list li .btn-ghost {
    text-align: left;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    width: 230px;
}
.footer .download .download-list li .btn-ghost:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.footer .contact p {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.footer .contact p a {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.footer .contact .fa {
    margin-right: 10px;
    font-size: 20px;
}
.footer .contact .email .fa {
    font-size: 16px;
}
.footer .bottom-bar {
    background: #1e1e1e;
    color: #b3b3b3;
    font-size: 14px;
    padding: 10px 0;
    margin-left: -10px;/*added*/
    margin-top: 20px;
}
.footer .bottom-bar .copyright {
    line-height: 1.6;
}

/* ======= Footer End ======= */

/* ======= Scroll To Top ======= */
.cd-container {
    width: 90%;
    max-width: 768px;
    margin: 2em auto;
}
.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}
/* @media only screen and (min-width: 1024px) {*/

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right:10px; /*right:10px;new--left: 1210px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #5d8081 url(../Images/cd-top-arrow.svg) no-repeat center 50%; /*#5d8081 rgba(232, 98, 86, 0.8)*/
    visibility: hidden;
    opacity: 0;
    border-radius: 50px;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; /*1*/
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1; /*.5*/
}

.no-touch .cd-top:hover {
    background-color: #5d8081; /*#e86256*/
    opacity: 1; /*1*/
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }

}
/* }/*added*/
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 40px;
    }

}

/* ======= Scroll To Top End ======= */

/* ======= Search Bar ======= */

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
}

/* ======= Search Bar End ======= */
/*body {
    background-color: #DEDCDC;
}*/

.table-bordered {
    width: 100%;
    font-weight: 800;
}

.Blue {
    color: #006687;
}

@media screen and (max-width: 980px) {
    .a2a_floating_style.a2a_vertical_style { display: none; }
}